# Ignore the Dockerfile itself
Dockerfile
Dockerfile.dev
Dockerfile.prod
docker-compose.dev.yml
docker-compose.prod.yml

# Ignore Docker configuration files
.dockerignore

# Ignore Git files
.git
.gitignore
.gitattributes

# Ignore Node modules
node_modules

# Ignore build artifacts
build

# Ignore environment files
**/.env

# Ignore editor configuration files
.editorconfig
.vscode

# Ignore SvelteKit specific files
.svelte-kit

# Ignore other configuration files
README.md
.npmrc
.prettierrc
.eslintrc.cjs
.graphqlrc
node_modules
